*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.container{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.container .sidebar{
    float: left;
    width: 300px;
    height: 100%;
    background-color: #2284fe;
}
.container .sidebar .form .title{
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
    box-sizing: border-box;
    font-weight: bold;
}
.container .sidebar .form .form-item{
    width: 250px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    line-height: 80px;
    margin: auto;
    margin-bottom: 20px;
}
.container .sidebar .form .form-item button{
    color: white;
    font-size: 25px;
    width: 250px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    text-align: center;
}

.container .sidebar .form .form-item:hover{
    cursor: pointer;
    background-color: #0066e4;
    border: none;
}
.container .page{
     position: relative;
    width: auto;
    height: 100%;
    margin-left: 300px;
   
}
.container .page button{
    text-decoration: none;
    color:#8d8d8d;
    position: absolute;
    right: 80px;
    bottom: 0;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    color: #8d8d8d;
}
.container .page .dashboard{
    width: 100%;
    height: 100px;
    position: relative;
    box-sizing: border-box;
}
.container .page .dashboard span{
    font-size: 25px;
    color: #8d8d8d;
    padding-left: 20px;
    line-height: 100px;
}
.container .page .dashboard .showTime{
    line-height: 75px;
    color: #8d8d8d;
    position: absolute;
    right: 80px;
    top: 0;
    
}
/* .container .page .img{
    width: 600px;
    height: 400px;
    position: fixed;
    box-sizing: border-box;
   margin-top: 102.4px;
   margin-left: 318px;
   background-color: white;
   border-radius: 40px;
} */

.container .page .img{
    width: 1097.28px;
    height: 560px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 34px;
    background-color: white;
    border-radius: 60px ;
    box-sizing: border-box;
}